trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  imageName: 'nginx-hello'
  containerRegistry: 'myregistry.azurecr.io'
  resourceGroup: 'myResourceGroup'
  containerName: 'nginx-hello-container'

steps:
- task: Docker@2
  displayName: 'Build Docker image'
  inputs:
    command: build
    dockerfile: '**/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest

- task: Docker@2
  displayName: 'Push to Azure Container Registry'
  inputs:
    command: push
    containerRegistry: 'myACRServiceConnection'
    repository: $(imageName)
    tags: |
      $(Build.BuildId)
      latest

- task: AzureCLI@2
  displayName: 'Deploy to Azure Container Instances'
  inputs:
    azureSubscription: 'myAzureServiceConnection'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az container create \
        --resource-group $(resourceGroup) \
        --name $(containerName) \
        --image $(containerRegistry)/$(imageName):$(Build.BuildId) \
        --cpu 1 \
        --memory 1.5 \
        --ports 80 \
        --dns-name-label $(containerName)-$(Build.BuildId) \
        --restart-policy Always
      
      echo "Container deployed successfully!"
      az container show \
        --resource-group $(resourceGroup) \
        --name $(containerName) \
        --query ipAddress.fqdn \
        --output tsv